<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Not?ia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/news/save" method="post">
			<input type="text" name="title">
			<input type="text" name="notice">
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>