<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>
		<table>
			<tr>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<% for(var i=0; i<notice.length; i++){ %>
			<tr>
				<td><%= notice[i].title %></td>
				<td><%= notice[i].notice %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>