<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notíias</title>
		</head>
	<body>

		<h1>Notíias</h1>
		<table>
			<tr>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<tr>
				
			</tr>
		</table>
	</body>
</html>